@import '/src/styles/mixin';

.ShareLink {
  //공유하기 버튼 위치 구현잘해보기rem써도 무관
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .shareLinkIcon {
    font-size: 20px;
    color: gray;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
      color: #2ab372;
    }
  }
  .shareMenuBox {
    .shareMenuButton {
      @include flexStyle(none, center);
      @include fontSizeWight(15px, bold gray);
      @include fontFamily('Noto Sans KR', sans-serif);
      position: absolute;
      top: 350px;
      padding: 10px;
      border: 1px solid gray;
      cursor: pointer;
      &:hover {
        @include fontSizeWight(17px, 500, #2ab372);
        border: 4px solid #2ab372;
      }
    }
  }
}
