@import '/src/styles/mixin';

.Review {
  margin: 0 0 50px 0;
  font-family: 'Spoqa Han Sans', 'Lato', sans-serif;
  width: 1200px;
  @include flexStyle(none, center);
  .reviewInner {
    @include flexStyle(none, none, column);
    width: 90%;
    .reviewRate {
      height: 150px;
      border: 1px solid #dadada;
      margin-bottom: 50px;
      @include flexStyle(center, center, row);

      .userRateWrap {
        @include flexStyle(center, none, column);
        margin-right: 90px;

        .rateTotal {
          margin-bottom: 5px;
          @include fontFamily('Noto Sans KR', sans-serif);
          @include fontSizeWight(23px, bold, #000000);
        }

        .totalAmountReview {
          @include fontFamily('Noto Sans KR', sans-serif);
          @include fontSizeWight(18px, none, black);
          margin-top: 10px;
        }
      }
      .averageRate {
        h2 {
          margin-top: 15px;
          @include fontFamily('Noto Sans KR', sans-serif);
          @include fontSizeWight(16px, none, black);
          text-align: center;
        }
        .starRating {
          width: 304px;
        }
        .starRating,
        .innerStarRating {
          display: inline-block;
          height: 55px;
          overflow: hidden;
          background: url(star.png) no-repeat;
        }
        .innerStarRating {
          background-position: left bottom;
          line-height: 0;
          vertical-align: top;
        }
      }
    }

    .reviewWrite {
      padding: 15px;
      border: 1px solid #dadada;
      margin: 0 0 50px 0;

      .reviewForm {
        display: flex;
        flex-direction: column;

        .howManyStars {
          height: 40px;
          padding: 10px;

          .starSelector {
            width: 200px;
            padding: 5px 10px;
            border: 1px solid #dadada;
            border-radius: 0px;
            color: #333;
            outline: 0;
            font-family: inherit;
            cursor: pointer;
            &:hover {
              transform: scale(1.05);
              background-color: #2ab372;
              @include fontSizeWight(17px, bold);
            }
          }
        }

        .reviewInput {
          @include fontSizeWight(15px, none, #777);
          width: 100%;
          height: 100px;
          padding: 20px;
          border: 0;
          word-break: break-all;
          outline: none;
          resize: none;
        }

        .reviewSubmitButton {
          position: relative;
          top: 4px;
          align-self: flex-end;
          width: 180px;
          height: 35px;
          border-radius: 8px;
          line-height: 35px;
          background-color: #333;
          margin: 0 15px 15px 0;
          @include fontSizeWight(15px, normal, #fff);
          text-align: center;
          border: 1px solid gray;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            background-color: #2ab372;
            @include fontSizeWight(17px, bold, #fff);
          }
        }
      }
      .privacyPolicy {
        display: flex;
        flex-direction: column;
        width: 99.8%;
        margin: 10px 0 0 0;
        border: 1px solid #dadada;

        .privacyTitle {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          margin: 20px 20px 10px 20px;
          font-size: 13px;
          .privacyTitleInner {
            margin: 2.5px;
            b {
              font-weight: 700;
              margin-right: 30px;
            }
            u {
              cursor: pointer;
            }
          }
          .privacyRadioBox {
            input {
              margin: 2.5px;
            }
            .agreeOrNot {
              cursor: pointer;
              margin: 0 10px 0 0;
              @include fontSizeWight(12px, normal);
              &:hover {
                transform: scale(1.05);
                @include fontSizeWight(15px, bold, #2ab372);
              }
            }
          }
        }
        .privacyTable {
          margin: 10px 10px 0 10px;
          text-align: center;
          font-size: 10px;

          .tableHead {
            th {
              padding: 10px;
              background-color: #efefef;
              border: 1px solid #dadada;
              font-weight: 700;
            }
          }

          .tableBody {
            td {
              padding: 10px;
              border: 1px solid #dadada;
              text-align: left;
            }
          }
        }
        .agreeForFillOut {
          margin: 10px 0 20px 20px;
          @include fontSizeWight(12px, normal);
        }
      }
    }

    .reviewList {
      width: 100%;
      padding: 15px;
      border: 1px solid #dadada;

      .reviewBlock {
        .createdReview {
          .starsAndData {
            display: flex;
            justify-content: space-between;
            margin: 30px 20px 5px 10px;
            .stars {
              color: #2ab372;
              font-size: 15px;
            }

            .userId {
              margin-right: 12px;
            }

            .userId,
            .createdAt {
              @include fontFamily('Noto Sans KR', sans-serif);
              @include fontSizeWight(13px, none, gray);
            }
          }

          .reviewContent {
            .reviewContentText {
              width: 100%;
              height: 100px;
              padding: 10px;
              margin-top: 5px;
              border: 1px solid #dadada;
              outline: none;
              resize: none;
            }

            .modifyAndDelete {
              margin: 10px 20px 50px 20px;
              @include flexStyle(none, flex-end);
              @include fontSizeWight(12px, none, grey);

              .deleteReview {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
