<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Star</title>

    <style></style>
  </head>

  <body>
    <div class="wrap-star">
      <h2>Width="30%"</h2>
      <div class="star-rating">
        <span style="width: 30%"></span>
      </div>
    </div>

    <div class="wrap-star">
      <h2>Width="50%"</h2>
      <div class="star-rating">
        <span style="width: 50%"></span>
      </div>
    </div>

    <div class="wrap-star">
      <h2>Width="75%"</h2>
      <div class="star-rating">
        <span style="width: 75%"></span>
      </div>
    </div>
  </body>
</html>
