.ProductCard {
  display: flex;
  flex-direction: column;
  margin: 0 40px 100px 0;
  width: 31%;
  color: #333333;

  .productListImages {
    width: 360px;
    height: 360px;
    object-fit: cover;
    cursor: pointer;
  }

  .productName {
    display: flex;
    margin-top: 15px;
    padding: 5px 0;
    font-family: sans-serif;
  }

  .productPrice {
    font-family: sans-serif;
  }

  .productPrice span:first-child {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
}
