.productListWrapper {
  margin: 0 auto;
  width: 1200px;

  .productListWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 30px;
    border-bottom: 1px solid #999999;

    .subCaterogyTitle {
      color: #333333;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Lato', sans-serif;
    }

    .subCategory {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      color: #555555;
    }
  }

  .selector {
    display: flex;
    justify-content: flex-end;

    .selectSorting {
      padding: 10px 0;
      border: none;
      color: #a2a2a2;
      background-color: none;
      font-family: 'sans-serif';
    }
  }
}
