@import '/src/styles/mixin';

.ProductDescription {
  width: 520px;
  h3 {
    @include fontSizeWight(25px, bold, none);
    @include fontFamily('Anton', sans-serif);
    margin: 10px 0 30px 15px;
  }

  .price {
    @include fontSizeWight(23px, bold, none);
    @include fontFamily('Nunito', sans-serif);

    em {
      @include fontSizeWight(20px, 400, none);
    }
  }

  .info {
    margin: 0 0 50px 0;

    .table {
      margin: 30px 0 20px 0;

      .tableCol {
        td {
          @include fontSizeWight(13px, none, #777);
        }

        th {
          @include flexStyle();
          @include fontSizeWight(13px, none, #3d3d3d);
          padding: 10px 0 10px 0;
        }
      }
    }

    .option {
      @include flexStyle(center, space-between);
      padding: 30px 10px 30px 0;
      border-top: #3d3d3d solid 1px;
      border-bottom: #3d3d3d solid 1px;

      .optionText {
        @include fontSizeWight(14px, none, #3d3d3d);
      }

      dd .optionBox {
        @include widthHeight(330px, 35px);
        @include fontSizeWight(14px, none, #696969);
        padding: 0 0 0 10px;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .totalPrice {
      @include flexStyle(none, space-between);
      padding: 30px 10px 20px 0;

      strong {
        @include fontSizeWight(22px, bold);
        @include fontFamily('Anton', sans-serif);
      }

      .resultPrice {
        @include fontSizeWight(22px, bold);
        @include fontFamily('Nunito', sans-serif);

        em {
          @include fontSizeWight(20px, 400px);
        }
      }
    }
  }

  .activeButton {
    @include flexStyle(none, space-between);

    .commonButton {
      @include flexStyle(center, center);
      @include widthHeight(none, 58px);
      margin: 0 7px 0 0;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }

    .buyButton {
      @include widthHeight(250px);
      @include fontSizeWight(none, none, #fff);
      border: 1px solid #2e2e2e;
      background-color: #2e2e2e;
    }

    .basketButton {
      @include widthHeight(250px);
      @include fontSizeWight(none, none, #000000);
      border: 1px solid #000000;
    }

    .likeButton {
      @include fontSizeWight(60px, none, #1c1c1c);
      padding: 15px;
      border: 1px solid #000000;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
