@import '../mixin.scss';

.ProductDescription {
  h3 {
    @include fontSizeWight(25px, bold, none);
    @include fontFamily('Anton', sans-serif);
    margin: 10px 0 30px 15px;
  }

  .price {
    @include fontSizeWight(23px, bold, none);
    @include fontFamily('Nunito', sans-serif);

    em {
      @include fontSizeWight(20px, 400, none);
    }
  }

  .info {
    margin: 0 0 40px 0;

    .table {
      margin: 20px 0 20px 0;

      .tableCol {
        td {
          @include fontSizeWight(12px, none, #777);
        }

        th {
          @include flexStyle();
          @include fontSizeWight(12px, none, #3d3d3d);
          padding: 9px 0 9px 0;
        }
      }
    }

    .option {
      @include flexStyle(center, space-between);
      padding: 20px 10px 20px 0;
      border-top: #3d3d3d solid 1px;
      border-bottom: #3d3d3d solid 1px;

      .optionText {
        @include fontSizeWight(13px, none, #3d3d3d);
      }

      dd .optionBox {
        @include widthHeight(330px, 35px);
        @include fontSizeWight(14px, none, #696969);
        padding: 0 0 0 10px;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .productCount {
      @include flexStyle(center, space-between);
      padding: 20px 10px 20px 0;
      border-bottom: #3d3d3d solid 1px;

      .productText {
        @include fontSizeWight(13px, none, #3d3d3d);
        margin: 0 150px 0 0;
      }

      .countBox {
        @include flexStyle(center);

        .countInput {
          @include widthHeight(35px, 30px);
          @include fontSizeWight(12px, none, #696969);
          @include fontFamily('Nunito', sans-serif);
          padding: 0;
          border: 1px solid #e2e2e2;
          vertical-align: middle;
          text-align: center;
        }

        .countButton {
          @include flexStyle(none, none, column);

          .arrowButton {
            @include widthHeight(none, 15px);
            @include fontSizeWight(none, none, #696969);
            margin: 0 0 0 5px;
            border: 1px solid #e2e2e2;
            cursor: pointer;
            &:hover {
              border: 1px solid #000;
              transform: scale(1.2);
            }
          }
        }
      }

      .changePrice {
        @include fontSizeWight(15px, bold);
        @include fontFamily('Nunito', sans-serif);

        em {
          @include fontSizeWight(12px, 400px);
        }
      }
    }

    .totalPrice {
      @include flexStyle(none, space-between);
      padding: 30px 10px 20px 0;

      strong {
        @include fontSizeWight(22px, bold);
        @include fontFamily('Anton', sans-serif);
      }

      .resultPrice {
        @include fontSizeWight(22px, bold);
        @include fontFamily('Nunito', sans-serif);

        em {
          @include fontSizeWight(20px, 400px);
        }
      }
    }
  }

  .activeButton {
    @include flexStyle(none, space-between);

    .commonButton {
      @include flexStyle(center, center);
      @include widthHeight(none, 58px);
      margin: 0 7px 0 0;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }

    .buyButton {
      @include widthHeight(200px);
      @include fontSizeWight(none, none, #fff);
      border: 1px solid #2e2e2e;
      background-color: #2e2e2e;
    }

    .basketButton {
      @include widthHeight(200px);
      @include fontSizeWight(none, none, #000000);
      border: 1px solid #000000;
    }

    .likeButton {
      @include fontSizeWight(58px, none, #1c1c1c);
      padding: 17px;
      border: 1px solid #000000;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
