.ReviewCard {
  .reviewWraper {
    width: 280px;
    margin: 10px;

    .reviewImg {
      width: 100%;
      object-fit: cover;
    }

    .reviewTextWraper {
      position: relative;
      padding: 10px;
      background-color: white;

      .rate {
        margin-top: 30px;
      }

      .userId {
        position: absolute;
        right: 10px;
      }
    }

    .productWraper {
      height: 90px;
      margin-top: 15px;
      background-color: white;

      .productImg {
        float: left;
        width: 33%;
      }

      .productName {
        // display: block;
        padding-top: 30px;
        // margin-top: 30px;
        margin-left: 100px;
      }
    }
  }
}
