.Carousel {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;

  .btnNorm {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    .containerWraper {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      overflow: hidden;

      .container {
        display: flex;
        flex-direction: row;
      }

      .transformTimeOn {
        transition: transform 1s;
      }
    }

    .leftBtn {
      position: absolute;
      top: 220px;
      left: -70px;
      width: 45px;
      height: 45px;
      padding-right: 5px;
      border: 4px solid grey;
      border-radius: 50px;
      font-size: 50px;
      color: grey;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.1;
      }
    }

    .rightBtn {
      position: absolute;
      top: 220px;
      right: -70px;
      width: 45px;
      height: 45px;
      padding-left: 5px;
      border: 4px solid grey;
      border-radius: 50px;
      font-size: 50px;
      color: grey;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.1;
      }
    }
  }

  .dotBtnWraper {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 30px;
    left: 45%;
  }
}
