@import './variables';
@import './mixin';

.DotButton {
  @include flexRow(center);
  position: relative;
  bottom: 15px;

  .dotBtn {
    border: none;
    border-radius: 50px;
    margin: -10px 3px;
    width: 15px;
    height: 15px;
    opacity: 0.6;
    background-color: $DotBtnColor;
    transition: $DotBtnTransition;
    @include clickAniStandard;
  }

  .selected {
    width: 75px;
    opacity: 1;
  }
}
