.DotButton {
  .dotBtn {
    border: none;
    border-radius: 50px;
    margin: 3px;
    width: 1vw;
    height: 1vw;
    opacity: 0.6;
    background-color: #999999;
    z-index: 10;
    transition: all 0.4s;
  }

  .selected {
    width: 5vw;
    opacity: 1;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.1;
  }
}
