.DotButton {
  .dotBtn {
    border: none;
    border-radius: 50px;
    margin: -10px 3px;
    width: 15px;
    height: 15px;
    opacity: 0.6;
    background-color: #999999;
    transition: all 0.4s;
  }

  .selected {
    width: 75px;
    opacity: 1;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.1;
  }
}
