@import '/src/styles/mixin';

.ProductPhoto {
  @include widthHeight(520px, 720px);
  margin: 0 0 100px 0;

  .mainPhoto {
    @include flexStyle(center);
    .mainImage {
      @include widthHeight(520px, 520px);
    }
    .photoButton {
      @include fontSizeWight(50px, none, #fff);
      position: relative;
      cursor: pointer;
    }
    .leftButton {
      right: 500px;
      margin: 0 -80px 0 0;
      &:hover {
        font-size: 60px;
        margin: 0 -86px 0 0;
      }
    }
    .rightButton {
      &:hover {
        font-size: 60px;
      }
    }
  }

  .subPhotos {
    display: flex;
    margin: 20px 0 0 0;

    .subImage {
      margin: 0 10px 0 0;

      img {
        @include widthHeight(123px, 123px);
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
