@import '../mixin.scss';

#Photo {
  @include widthHeight(500px, 720px);

  #mainPhoto {
    img {
      @include widthHeight(460px, 460px);
    }
  }

  #subPhotos {
    display: flex;
    margin: 20px 0 0 0;

    .subimage {
      margin: 0 7px 0 0;

      img {
        @include widthHeight(110px, 110px);
      }
    }
  }
}
