@import '/src/styles/mixin';

.ProductInfo {
  .middleMenu {
    @include flexStyle(none, space-around);
    position: sticky;
    top: 0;

    li {
      @include flexStyle(center, center);
      @include widthHeight(600px, 60px);
      @include fontSizeWight(22px, none, none);
      border-bottom: 1px solid #000;
      cursor: pointer;
      &:hover {
        @include fontSizeWight(26px, bold, none);
      }
    }

    .yesChangeColor {
      background-color: #333;
      @include fontSizeWight(none, none, #fff);
    }

    .notChangeColor {
      background-color: #fff;
      @include fontSizeWight(none, none, #8b8b8b);
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
  .reviewTitle {
    @include fontSizeWight(30px, bold);
    @include fontFamily('Noto Sans KR', sans-serif);
    width: 300px;
    margin: 200px 0 120px 0;
    padding: 0 0 20px 40px;
    border-bottom: 10px solid #84bd76;
  }
}
