.Nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  // display: flex;

  .headerMenu {
    display: flex;
    justify-content: space-between;
    margin: 33px auto 20px;

    .logo {
      display: flex;

      .logoImg {
        width: 200px;
        margin: 20px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      color: black;
      font-weight: bold;

      .headerLink {
        padding: 10px;
        color: grey;
        font-size: 10px;
        font-weight: normal;
      }
    }
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdownMenu {
      display: flex;
      // justify-content: space-between;

      .dropdown {
        position: relative;
        display: inline-block;

        // overflow: hidden;

        .dropBtn {
          // margin: 0 10px;
          font-size: 16px;
          border: none;
          outline: none;
          color: #000;
          background-color: #fff;
          font-family: sans-serif;
          cursor: pointer;
          // min-width: 90px;

          .dropIcon {
            // display: none;
          }
        }
      }
    }
    .dropBtn:hover dropIcon {
      display: block;
    }

    .dropdown:hover .dropBtn {
      background-color: red;
      text-decoration: black;
    }

    .dropdownContent {
      display: none;
      margin: 0 auto;
      font-size: 10px;

      position: absolute;
      top: 40px;
      // right: 10px;
      // left: 10px;
      // padding: 15px;
      background-color: white;
      min-width: 90px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      // i {
      //   color: gray;
      //   padding: 5px 10px;
      //   text-decoration: none;
      //   display: block;
      //   text-align-last: center;
      //   text-align: center;
      // }
    }

    .categoryLink {
      color: gray;
      padding: 5px 10px;
      text-decoration: none;
      display: block;
      // text-align: left;
      //   .&:hover {
      //     color: #000;
      //   }
    }

    .dropdownContent a:hover {
      color: black;
      // background-color: white;
    }

    .dropdown:hover .dropdownContent {
      display: block;
    }
  }
  .rightBar {
    display: flex;
    // justify-content: flex-end;
    align-items: flex-end;
    .inputDiv {
      display: inline-flex;
      justify-content: flex-end;
      position: relative;

      .inputBox {
        border: none;
        border-bottom: solid 2px black;
        outline: none;
        padding: 3px 3px;
      }

      .inputBox::placeholder {
        padding: 10px;
        font-size: 10px;
      }
      .search {
        position: absolute;
        right: 10px;
        top: 3px;
        color: black;
      }
    }
    .shoppingCart {
      margin: 0 20px;
    }
  }
}
