.Nav {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  font-family: 'Spoqa Han Sans Neo';

  .modalMenu {
    position: relative;
    top: -440px;
    width: 100%;
    height: 600px;
    transition: all 1s ease-in-out;

    &.menuDown {
      top: 0;
    }

    .modalDropDown {
      display: flex;
      position: relative;
      top: 160px;

      .modalSubCategory {
        display: flex;
        flex-direction: column;
        min-width: 140px;
        padding: 5px 0;
        font-size: 16px;

        .modalCategoryLink {
          min-width: 140px;
          padding: 5px;
          color: black;
          text-align: center;
          font-weight: bold;
          font-family: 'Spoqa Han Sans Neo';
        }
      }
    }
  }

  .emptyBackgroundBox {
    position: absolute;
    top: 0;
    width: 1200px;
    height: 160px;
    background-color: white;

    .headerMenu {
      display: flex;
      justify-content: space-between;
      margin: 20px 0px 30px 20px;

      .logo {
        display: flex;
        justify-content: space-between;

        .logoImg {
          margin: 20px;
          width: 200px;
        }
      }

      .headerListWrapper {
        display: flex;
        align-items: center;

        .headerLink {
          padding: 10px;
          color: #aaa;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }

  .navBar {
    display: flex;
    position: absolute;
    top: 100px;
    width: 1200px;

    .dropdownMenu {
      display: flex;
      width: 750px;

      .dropdown {
        position: relative;

        &:hover .dropdownContent {
          display: block;
        }

        .hiddenDropdownContent {
          display: none;
        }

        .dropBtn {
          min-width: 140px;
          border: none;
          outline: none;
          color: #000;
          background-color: white;
          font-size: 16px;
          font-family: 'Spoqa Han Sans Neo';
          cursor: pointer;

          // &:hover .dropBtn {
          //   display: block;
          // }

          &:hover .dropIcon {
            opacity: 1;
          }

          // .dropBtn .ddddd {
          //   opacity: 1;
          // }

          .dropIcon {
            font-size: 12px;
            opacity: 0;
          }
        }

        .dropdownContent {
          display: none;
          min-width: 140px;
          position: absolute;
          top: 90%;
          left: 50%;
          padding: 5px;
          background-color: white;
          font-size: 15px;
          font-family: 'Spoqa Han Sans Neo';
          transform: translate(-50%);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

          .categoryLink {
            display: block;
            padding: 5px 10px;
            color: #666;
            text-decoration: none;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    .searchBar {
      display: flex;
      justify-content: flex-end;
      margin-left: 140px;
      padding-bottom: 15px;

      .inputDiv {
        position: relative;

        .inputBox {
          width: 220px;
          padding: 3px 3px;
          border: none;
          border-bottom: solid 2px #000;
          outline: none;

          &::placeholder {
            padding: 20px;
            font-size: 13px;
          }
        }

        .search {
          position: absolute;
          right: 10px;
          color: #000;
        }
      }

      .shoppingCart {
        margin: 0 20px;
      }
    }
  }
}
