@mixin flexRow($justify) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}

@mixin flexColumn($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin clickAniStandard {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.1;
  }
}
