@import './variables';
@import './mixin';

.MainProductCard {
  @include flexColumn(center);

  .productImg {
    width: 370px;
    height: 370px;
    object-fit: cover;
    cursor: pointer;
  }

  .productName {
    margin-top: 15px;
    padding: 5px 0;
    font-size: 17px;
  }

  .productPrice {
    margin-top: 2px;
    .price {
      font-weight: 700;
    }

    .priceUnit {
      margin-left: 2px;
    }
  }
}
