.SignInBox {
  max-width: 1200px;
  width: 100%;

  .signInTitle {
    margin-bottom: 7px;
    color: #202020;
    font-size: 18px;
    font-weight: 700;
  }

  .signInInner {
    display: flex;
    justify-content: center;
    border: 1.5px solid #e9e9e9;
    border-top: 1.5px solid #202020;

    .signInFormBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 80px 0;
      padding: 0 80px 40px 80px;

      .formBoxTitle {
        margin-bottom: 18px;
        font-size: 18px;
        font-weight: 600;
      }

      .formBoxDescription {
        margin-bottom: 14px;
        color: #adadad;
        font-size: 11px;
        line-height: 16px;
      }

      .signInForm {
        display: flex;
        flex-direction: column;

        .signInInput {
          display: block;
          width: 375px;
          height: 50px;
          padding-left: 11px;
          margin-bottom: 10px;
          border: 1px solid #ddd;
          line-height: 50px;
          &::placeholder {
            color: #adadad;
          }
        }

        .signInBtnFilledStyle {
          width: 375px;
          height: 58px;
          margin-top: 10px;
          color: #fff;
          background-color: #333;
          cursor: pointer;
          transition: all 300ms ease;
          &:hover {
            color: #333;
            background-color: #fff;
          }
        }
      }

      .buttonBox {
        margin-bottom: 22px;
      }

      .signInBtnEmptyStyle {
        width: 375px;
        height: 58px;
        margin-top: 5px;
        color: #333;
        background-color: #fff;
        cursor: pointer;
        transition: all 350ms ease;

        &:hover {
          color: #fff;
          background-color: #333;
        }
      }
    }

    .signInFormBox:first-child {
      border-right: 1px solid #e9e9e9;
    }
  }
}
